@model SkillBridges.ViewModels.TaskCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task Creation</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">

        <form asp-action="Create" method="get" class="mb-3">
            <input type="hidden" name="clientId" value="@Model.ClientProfileId" />
            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <select asp-for="Type" asp-items="Model.Types" class="form-select" onchange="this.form.submit()">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </form>

        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Budjet" class="form-label"></label>
                <input asp-for="Budjet" class="form-control" />
                <span asp-validation-for="Budjet" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Deadline" class="form-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ClientProfileId" />
            <input type="hidden" asp-for="Type" value="@Model.Type" />

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="form-label"></label>
                <select asp-for="City" asp-items="Model.Cities" class="form-select">
                    <option value="">-- Select City --</option>
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div class="d-grid">
            <a asp-action="Index" asp-route-clientId="@Model.ClientProfileId" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
