@model SkillBridges.ViewModels.AssignSkillViewModel

@{
    ViewData["Title"] = "Assign";
}

<h1>Assign</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Assign" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="ProfessionalProfileId" />

            <div class="mb-3">
                <label for="skills" class="form-label">Select Skills</label>
                <select asp-for="SelectedSkillIds" class="form-select" multiple="multiple"
                        asp-items='@(
                        new MultiSelectList(
                            Model.AvailableSkills,
                            "SkillId",
                            "Name",
                            Model.SelectedSkillIds
                        )
                        )'>
                </select>
                <span asp-validation-for="SelectedSkillIds" class="text-danger"></span>
            </div>

            <div class="d-grid mt-2">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
