<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Home" asp-action="ClientDetails">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Task" asp-action="Create">Create Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Task" asp-action="Index">View Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Payment" asp-action="ClientHistory">Payments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
    </li>
</ul>
