<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Home" asp-action="ProfessionalDetails">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Task" asp-action="IndexByCategory">View Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Task" asp-action="IndexForProfessional">Assigned Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="TaskApplication" asp-action="Index">Task Applications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Payment" asp-action="ProfessionalHistory">Payments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Skill" asp-action="IndexForProfessional">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Skill" asp-action="Assign">Manage Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-controller="Rating" asp-action="Index">Ratings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fw-medium" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
    </li>
</ul>
