@model SkillBridges.ViewModels.ProfessionalEditViewModel

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit Professional Profile</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
           
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="ProfessionalProfileId" />

            <div class="mb-3">
                <label asp-for="Bio" class="form-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Location" class="form-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Languages" class="form-label"></label>
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="IsAvailable" />
                <label class="form-check-label" asp-for="IsAvailable">@Html.DisplayNameFor(model => model.IsAvailable)</label>
            </div>

            <div class="d-grid">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
